# C2 Server
C2_SERVER_URL=http://127.0.0.1:8080

# Encryption
ENCRYPTION_KEY_PATH=./encryption.key

# RSA private key path (for decrypting victim Fernet keys after payment)
RSA_PRIVATE_KEY_PATH=c2_private_key.pem

# Optional
LOG_LEVEL=INFO
PAYMENT_ADDRESS=1BitcoinEaterAddressDontSendf59kuE
